
body {
  height: 100%;
}
html {
  height: 100%;
  background: #2B2D42;
}
#root {
  height: 100%;
}
.main {
  height: 100%;
  display: flex;
  flex-direction: column;


}

.header {
  font-family: 'Bangers';
  font-size: 1.5em;
  color: rgb(211, 211, 9);
  flex-grow: 1;
  background: black;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;

}


.body {
  color: #FFFFFF;
  flex-grow: 6;
  /* background: #2B2D42; */
  height: 100%;
  background-color: #222222;
  background: repeating-linear-gradient(45deg, #2b2b2b 0%, #2b2b2b 10%, #222222 0%, #222222 50%) 0 / 15px 15px;

}

.footer {
  color:rgb(249, 241, 4);
  flex-grow: 2;
  background: black;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.media-choice {
  display: flex;
  justify-content: center;

}

.media-choice h1 {
  display: flex;

  font-size: 5em;
  padding: 2em;
  color: red;
  text-decoration: none;
}

.media-list {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 5em;
}

.movie-details {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.movie-details-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  border: black solid;
  width: 80%;
}

.movie-details-info h1 {
  font-size: 3em;
}

.movie-details img {
  width: auto;
  height: 85%;
  padding-top: 5em;
}

.poster {
  width: 50%;
}


/* media queries */
@media screen and (max-width: 800px) {

  .movie-details-info {
    width: 100%;
  }

  .poster {
    width: 100%;
    }
  }


